<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<title> {{ page.title }} </title>
</head>

<body>
<div class="container">
<h1 style="text-align:right;">LOGO</h1>
</div>

<div class="jumbotron">
<div class="container">
<h1>JUMBOTRON</h1>
<p>Slideshow carousel with an images representing each service area</p>
<p>
<a href="teaching" class="btn btn-primary btn-lg" role="button">Teaching »</a>
<a href="leadership" class="btn btn-primary btn-lg" role="button">Leadership »</a>
<a href="policy" class="btn btn-primary btn-lg" role="button">Policy »</a>
</p>
</div>
</div>

<div class="container-fluid">
<div class="row">
        <div class="col-md-3 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="about">ABOUT</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="services">EDUCATION IMPACT</a></li>
            <li><a href="teaching">Teaching</a></li>
            <li><a href="leadership">Leadership</a></li>
            <li><a href="policy">Policy</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="news">NEWS</a></li>
          </ul>
        </div>
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-3">
  <h3>Contact</h3>
  E:<br/>
  <a href="mailto:info@yvanajonesconsulting.com.au">info@yvanajonesconsulting.com.au</a><br/>
  <br/>
  M:<br/>
  0438 791 418
  <h3>Subscribe</h3>
<form>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="email" class="form-control" id="inputName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
</form>
  
  </div>
</div>
</div>
</body>
</html>